.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7rem;
  /* margin: 0rem 2rem; */
  background-color: var(--color-white);
  border-bottom: 1px solid rgba(51, 51, 51, 0.25);
  /* box-shadow: 0 2px 8px rgba(204, 31, 31, 0.05); */
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__brand {
  font-size: 2rem;
  font-weight: bold;
  color: #e047ff;
  text-decoration: none;
}

.navbar__center {
  display: flex;
}

.navbar__link {
  font-size: 1.5rem;
  color: #333;
  padding: 0.5rem 3rem;
  text-decoration: none;
  cursor: pointer;
}

.navbar__link:hover {
  color: white;
  background-color: #8a38f5;
  border-radius: 50px;
}

.navbar__button {
  background-color: #e047ff;
  color: white;
  border: none;
  padding: 1rem 3rem;
  border-radius: 50px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar__button:hover {
  background-color: #8a38f5;
}
